@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}
.custom-prev-button,
.custom-next-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.custom-prev-button {
  left: 10px; /* Position the prev button */
}

.custom-next-button {
  right: 10px; /* Position the next button */
}

.primary-btn {
  @apply px-4 py-2 bg-[#2B4DFF] rounded-full;
}
